[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "vim/bundle/gitgutter"]
	path = vim/bundle/gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "tmux.d/plugins/tmux-copycat"]
	path = tmux.d/plugins/tmux-copycat
	url = git@github.com:tmux-plugins/tmux-copycat.git
[submodule "tmux.d/plugins/tmux-yank"]
	path = tmux.d/plugins/tmux-yank
	url = git@github.com:tmux-plugins/tmux-yank.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
