[submodule "tmux.d/plugins/tmux-copycat"]
	path = tmux.d/plugins/tmux-copycat
	url = git@github.com:tmux-plugins/tmux-copycat.git
[submodule "tmux.d/plugins/tmux-yank"]
	path = tmux.d/plugins/tmux-yank
	url = git@github.com:tmux-plugins/tmux-yank.git
[submodule "vim/bundle/Vundle"]
	path = vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
